/* PHUONG NHAN */


/* BASE STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 6.5px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.8;
  color: black;
  background-color: white;  
  margin-block-end: 0;
  margin-block-start: 0;
  padding-top: 7em;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: block;
  margin: 0;
  padding: 0;
}

section {
  display: block;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 1em 0;
  margin: 8em 0 0 0;
  background: white;
  position: relative;
  z-index: 2;
}

.container {
  padding-left: 2em;
  max-width: 92em;
  margin: 0 auto;
}

.back-to-top,
.button {
  font-size: 11px;
  display: inline-block;
  align-items: center;
  margin-top: 4em;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #87d1d6;
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 0.5em;
  min-width: 12em;
  line-height: 1;
  border-width: 0;
}


.center {
  text-align: center;
}

.bg-white {
  background: white;
  z-index: -3;
}

.bg-white-mobile {
  background: white;
}




/* TYPOGRAPHY */

h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.03em;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #d3858e;
  margin: 0 0 0.5em 0;
}

h4 {
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-block-start: 0;
  margin-block-end:0;
}

h5 {
  color: #d3858e;
  font-size: 1.1em;
  line-height: 1.5em;
}

h6 {
  font-size: 29px;
  letter-spacing: 0.055em;
  color: #F1D2AE;
  margin-block-end: 0.5em;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}




/* PAGE BACKGROUND SHAPES */

body:before {
  content: '';
  position: absolute;
  top: 15em;
  left: 0;
  width: 60%;
  height: calc(100% - 15em);
  background: #87d1d6;
  z-index: -6;
  border-radius: 0 1em 0 0;
}

body:after {
  content: '';
  position: absolute;
  top: 10em;
  right: 0;
  width: 50%;
  height: calc(100% - 10em);
  background: #DBACB2;
  z-index: -5;
  border-radius: 1em 0 0 0;
}

.home-page:before {
  top: 210vh;
  height: calc(100% - 210vh);
  width: 70%;
}

.home-page:after {
  top: 194vh;
  height: calc(100% - 194vh);
  width: 40%;
}

.about-page:before {
  top: 90vh;
  height: calc(100% - 90vh);
  width: 80%;
}

.about-page:after {
  width: 30%;
  top: 70vh;
  height: calc(100% - 70vh);
}

.portfolio-page:before {
  width: 40%;
}

.portfolio-page:after {
  width: 70%;
}

.contact-page:before {
  height: calc(100% - 100vh);
  top: 100vh;
}

.contact-page:after {
  height: calc(100% - 100vh);
  top: 100vh;
}

.piece-page:before {
  height: calc(100% - 200vh);
  top: 200vh;
  border-radius: 0;
}

.piece-page:after {
  height: calc(100% - 200vh);
  top: 200vh;
  border-radius: 0;
}



/* NAVIGATION */

header {
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  padding-bottom: 2em;
  background-position: top center;
  max-width: 95em;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
}

header:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background: white;
  box-shadow: 10px 10px 10px rgb(40 40 40 / 15%);
  transform: rotate(2deg);
  top: -40%;
  left: 0%;
  z-index: -1;
}

header:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background:white;
  box-shadow: -10px 10px 10px rgb(40 40 40 / 15%);
  transform: rotate(-2deg);
  top: -40%;
  left: 50%;
  z-index: -1;
}

.nav {
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  align-items: center;
  align-content: center;
  z-index: 1;
}

.nav-logo img {
  display: block;
  margin: 0 auto;
  max-width: 5em;
  min-width: 2.75em;
}

.nav-logo {
  background: white;
  height: 7em;
  width: 7em;
  text-align: center;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 0 0 3.5em 3.5em;
  top: 0;
  position: relative;
  display: grid;
  align-items: end;
}

.nav-text {
  padding: 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: none;
}

.pink {
  color: #d3858e;
}


/* SOCIAL MEDIA ICONS */

.social-media {
  display: grid;
  grid-template-columns: repeat(4, 2em);
  align-items: center;
  justify-content: center;
  grid-column-gap: 0.5em;
  align-content: center;
  margin-top: -1em;
}

.social-media a {
  width: 1.5em;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 3em;
  text-align: center;
}

.social-media img {
  margin: 0;
  display: block;
  vertical-align: unset;
  width: 2em;
}

.nav .social-media {
  display: none;
}





/* DESKTOP NAVIGATION ACTIVE PAGE HIGHLIGHT */

.highlight-grid {
  display: none;

  grid-template-columns: 20% 12% 12% 12% 12% 12% 20%;
  position: absolute;
  top: 6px;
  width: 100%;
  align-items: center;
  align-content: center;
  z-index: -3;
  height: 8em;
}

.page-highlight {
  position: relative;
  width: 2em;
  height: 2em;
  background: #d3858e;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #e5b6bc;
  top: 1em;
  margin: 0 auto;
  display: none;
}

.highlight-home .page-highlight,
.highlight-contact .page-highlight {
  top: 0.5em;
}

.home-page .highlight-home .page-highlight,
.about-page .highlight-about .page-highlight,
.portfolio-page .highlight-portfolio .page-highlight,
.piece-page .highlight-portfolio .page-highlight,
.contact-page .highlight-contact .page-highlight {
  display: block;
}







/* MOBILE NAVIGATION */

.mobile-nav-toggle {
  position: absolute;
  left: 1em;
  top: 1.5em;
  width: 2em;
  height: 2em;
  z-index: 999;
  padding: 0.325em 0;
  cursor: pointer;
}

.mobile-nav-toggle span {
  display: block;
  background: black;
  height: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
  transition: all 0.3s;
  transform-origin: left;
}

.nav-open .mobile-nav-toggle span:nth-child(1) {
  transform: rotate(32deg);
}

.nav-open .mobile-nav-toggle span:nth-child(3) {
  transform: rotate(-32deg);
}

.nav-open .mobile-nav-toggle span:nth-child(2) {
  opacity: 0;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: -100vw;
  min-width: 50vw;
  z-index: 997;
  background-color: white;
  padding: 8em 0.5em;
  transform: translateX(0);
  transition: transform 0.3s;
}

.nav-open .mobile-nav {
  transform: translateX(100vw);
}

.mobile-nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 2em;
}

.mobile-social-media {
  display: grid;
  grid-template-columns: repeat(4, 2em);
  align-items: center;
  justify-content: center;
  grid-column-gap: 0.5em;
  align-content: center;
  margin-top: 1em;
}

.mobile-social-media a {
  font-size: 1rem;s
  display: block;
  width: 1.5em;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 3em;
  text-align: center;
}

.mobile-social-media img {
  margin: 0;
  display: block;
  vertical-align: unset;
  width: 2em;
}





/* HOME */

.home-banner {
  min-height: 20em;
  height: 25vh;
  margin: 3em 0 0 0;
  position: relative;
  background-image: url(img/homebanner.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.banner-title-gap {
  max-width: 22em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: auto;
  margin: 1em 0;
}

.banner-title-gap p {
  border-right: 1px solid;
  padding-right: 0.5em;
  margin: 0 0.5em 0 0;
  display: inline;
  width: auto;
  text-align: center;
  line-height: 1;
}

.banner-title-gap p:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}




/* ABOUT ME */

.about-me {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  align-items: end;
  padding: 0;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 15px 0 rgb(211 133 142/ 80%);
  margin: 0 auto;
  max-width: 50em;
  position: relative;
}

.about-clips {
  position: relative;
  z-index: 2;
  max-width: 50em;
  margin: 11em 6em;
}

.about-clips:before {
  content: '';
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 0 0 0 5em;
  background: white;
  top: -6em;
  right: -6em;
  z-index: 2;
  box-shadow: -8px 8px 10px -4px rgb(40 40 40/ 25%);
  transform: rotate(-12.5deg);
}

.about-clips:after {
  content: '';
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 0 5em 0 0;
  background: white;
  bottom: -6em;
  left: -6em;
  z-index: 2;
  box-shadow: 8px -8px 10px -4px rgb(40 40 40/ 25%);
  transform: rotate(-12.5deg);
}

.about-me-image {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
}

.about-me-image img {
  max-height: 29em;
  display: block;
  margin-top: -3em;
}

.about-me-text {
  padding: 2em 1em;
}

.about-container {
  margin: 0.5em;
  border-radius: 1em;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgb(40 40 40 / 25%);
  padding: 1em 1em 5em 1em;
}

.about-grid {
  display: grid;
  grid-gap: 1em;
  padding: 0.5em;
}

.about-item {
  box-shadow: 0 0 10px 0 rgb(40 40 40 / 25%);
  border-radius: 1em;
  padding: 1em;
}

.download-item {
  display: grid;
  justify-content: center;
  align-items: center;
}





/* PORTFOLIO */

.portfolio-container {
  margin: 0.5em;
  padding: 1em 1em 5em 1em;
  border-radius: 1em;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgb(40 40 40 / 25%);
}

.portfolio-grid {
  display: grid;
  column-gap: 1em;
  grid-row-gap: 1.5em;
  padding: 0.5em;
}

.full-width-item {
  grid-column: 1 / -1;
}

.portfolio-page h4 {
  text-align: left;
  max-width: 60rem;
  margin: 1em auto 0.5em;
}

h4.full-width-item {
  text-align: left;
  margin-top: 1em;
}

.portfolio-thumbnail {
  overflow: hidden;
  border-radius: 1em;
  max-height: 60em;
  position: relative;
}

.portfolio-thumbnail img {
  display: block;
  margin: 0;
}

.portfolio-clip-right {
  position: relative;
}

.portfolio-clip-right:after {
  content: '';
  position: absolute;
  top: 1em;
  right: -6em;
  left: auto;
  height: 8em;
  width: 8em;
  background: white;
  z-index: 1;
  border-radius: 0 0 0 4em;
  box-shadow: -5px 5px 10px -5px rgb(40 40 40 / 25%);
  transform: rotate(45deg);
  display: block;
}

.portfolio-clip-left {
  position: relative;
}

.portfolio-clip-left:after {
  content: '';
  position: absolute;
  top: 1em;
  left: -6em;
  right: auto;
  height: 8em;
  width: 8em;
  background: white;
  z-index: 1;
  border-radius: 0 4em 0 0;
  box-shadow: 5px -5px 10px -5px rgb(40 40 40 / 25%);
  transform: rotate(45deg);
  display: block;
}

.portfolio-item:hover .portfolio-thumbnail {
  z-index: 3  ;
  transform: scale(1.03);
}



/* CONTACT */

.welcome {
  /*padding: 5em 35.5em 0 35.5em;*/
  text-align: center;
}

.contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 0;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 10px 0 rgb(40 40 40 / 25%);
  margin: 0 auto;
  max-width: 50em;
  position: relative;
  text-align: center;
}

.contact-clips {
  position: relative;
  z-index: 2;
  max-width: 50em;
  margin: 10em auto;
}

.contact-clips:before {
  content: '';
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 0 0 0 5em;
  background: white;
  top: -6em;
  right: -6em;
  z-index: 2;
  box-shadow: -5px 5px 10px -5px rgb(40 40 40 / 25%);
  transform: rotate(-12.5deg);
}

.contact-clips:after {
  content: '';
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 0 5em 0 0;
  background: white;
  bottom: -6em;
  left: -6em;
  z-index: 2;
  box-shadow: 5px -5px 10px -5px rgb(40 40 40 / 25%);
  transform: rotate(-12.5deg);
}

.contact-me-text {
  padding: 2em 1em;
}

.contact-me-text-contact {
  padding: 2em 1em;
  border-right: 2px solid #87d1d6;
}

.contact-container {
  margin: 0.5em;
  border-radius: 1em;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgb(40 40 40 / 25%);
  padding: 1em 1em 5em 1em;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 3em);
  align-items: center;
  grid-gap: 1em;
  justify-content: center;
  padding: 1em;
}

.follow-grid {
  display: grid;
  grid-template-columns: repeat(4, 3em);
  align-items: center;
  grid-gap: 1em;
  justify-content: center;
  padding: 1em;
}

/* BOOK ILLUSTRATION */

.image-n-description-grid {
  display: grid;
}

.description {
  margin: 3em 2em 0 2em;
}

.description-2 {
  padding: 0 2em;
}

.description-stamp {
  margin: 1.2em 0.7em;
}

.description-row-grid {
  display: grid;
}

.second-image-of-piece {
  margin-top: 2em;
}

.tims-media {
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  font-weight: 700;
  line-height: 4em;
  color: transparent;
  z-index: 2;
}

.tims-media span {
  display: inline-block;
  animation-name: project-mation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: scaleY(0.5);
  opacity: 0;
}

.tims-media span:nth-child(1) {
  animation-delay: 0.5s
}

.tims-media span:nth-child(2) {
  animation-delay: 1s
}

@keyframes project-mation {

  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
    color: black;
  }

}

.play {
  position: relative;
  cursor: pointer;
}

.vid {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin: 0;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 1;
  background-image: url(img/tim-hortons-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s;
}

#playing .thumbnail {
  transform: scaleY(0);
}

.second-image-of-piece h5 {
  margin-block-start: 0;
}

.drag {
  position: absolute;
  cursor: grab;
  display: inline-block;
}

.drag img {
  user-select: none;
  position: relative;
  z-index: -1;
}

.description-cat-2 {
  border: 6px solid black;
  text-align: center;
  color: #dadada;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2.2px;
}


/* MEDIA QUERIES */

@media (min-width: 40em) {

  body {
    font-size: 10px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.5em;
  }

  header:before {
    width: 30%;
    left: 20%;
  }

  header:after {
    width: 30%;
  }

  .home-banner {
    height: 38vh;
  }


  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }

  .about-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .bg-white-mobile {
    background: none;
  }

  .about-clips {
  margin: 15em auto;
  }

  .about-me:before {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    width: 125%;
    height: 125%;
    background-image: url(img/rings-1.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .image-n-description-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }

  .cat {
    grid-template-columns: 40% 60%;
  }

  .description-row-grid {
    grid-template-rows: repeat(2);
  }

  .description {
    margin: auto 9em 0 0;
    padding-left: 4em;
  }

  .description-2 {
    margin: 1.5em 9em auto 0;
    padding-left: 4em;
  }

  .description-stamp {
    margin: auto 9em 0 0;
    padding-left: 4em;
  }

  .second-image-of-piece {
    width: 75em;
    margin: 5em auto auto auto;
    padding-bottom: 0.5em;
  }

  .second-image-of-piece .image-n-description-grid {
    column-gap: 1em;
  }

  .portfolio-thumbnail {
    max-height: 30em;
  }

  .button {
    font-size: 20px;
  }

}

@media (min-width: 72em) {

    body {
    font-size: 14px;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 2.3em;
  }

  h4 {
    font-size: 2.5em;
  }

  header:before {
    width: 30%;
    left: 20%;
  }

  header:after {
    width: 30%;
  }

  header {
    min-width: 60em;
  }

  .nav {
    grid-template-columns: 20% 12% 12% 12% 12% 12% 20%;
  }

  .nav-text {
    display: block;
  }

  .mobile-nav-toggle,
  .mobile-nav {
    display: none;
  }

  .nav .social-media,
  .highlight-grid {
    display: grid;
  }


  .home-banner .container {
    padding-top: 4em;
    padding-left: 0;
  }

  .home-banner {
    height: 82vh;
  }

  .about-container,
  .portfolio-container {
    max-width: 70em;
    margin: 0.5em auto;
    padding: 5em;
  }

  .portfolio-thumbnail {
    max-height: 27em;
  }

  .description-cat-1 {
    margin: 6em 9em auto 0;
    padding-left: 4em;
  }

  .description-cat-2 {
    height: 110vh;
    margin: 0 4em 0 2em;
    font-size: 30px;
    padding-top: 10em;
  }

  .img-1 {
    top: 65em;
    left: 4em;
    transform: rotate(212deg);
  }

  .img-2 {
    top: 70.5em;
    left: 8em;
    transform: rotate(212deg);
  }


  .img-3 {
    top: 76em;
    left: 5.5em;
    transform: rotate(156deg);
  }

  .img-4 {
    top: 82.5em;
    left: 5em;
    transform: rotate(195deg);
  }

  .img-5 {
    top: 63em;
    left: 12em;
    transform: rotate(185deg);
  }

  .img-6 {
    top: 78em;
    left: 16.5em;
    transform: rotate(-30deg);
  }

  .img-7 {
    top: 71em;
    left: 18em;
    transform: rotate(20deg);
  }

  .img-8 {
    top: 86.5em;
    left: 6em;
    transform: rotate(-40deg);
  }

  .img-9 {
    top: 64em;
    left: 18em;
    transform: rotate(-86deg);
  }

  .img-10 {
    top: 72em;
    left: 13em;
    transform: rotate(-53deg);
  }

  .img-11 {
    top: 79em;
    left: 13em;
    transform: rotate(52deg);
  }

  .img-12 {
    top: 85em;
    left: 16em;
    transform: rotate(12deg);
  }

  .img-13 {
    top: 85em;
    left: 18em;
    transform: rotate(-50deg);
  }

  .img-14 {
    top: 75em;
    left: 24.5em;
    transform: rotate(-34deg);
  }

  .img-15 {
    top: 90em;
    left: 19.5em;
    transform: rotate(3deg);
  }

  .img-16 {
    top: 62em;
    left: 25em;
    transform: rotate(128deg);
  }

  .img-17 {
    top: 68em;
    left: 24em;
    transform: rotate(20deg);
  }

  .img-18 {
    top: 79em;
    left: 24em;
    transform: rotate(-24deg);
  }

  .img-19 {
    top: 87em;
    left: 33em;
    transform: rotate(-70deg);
  }

  .img-20 {
    top: 65.5em;
    left: 32em;
    transform: rotate(40deg);
  }

  .img-21 {
    top: 84em;
    left: 25em;
    transform: rotate(-65deg);
  }

  .img-22 {
    top: 80em;
    left: 36em;
    transform: rotate(-20deg);
  }

  .img-23 {
    top: 78em;
    left: 33em;
    transform: rotate(90deg);
  }

  .img-24 {
    top: 64em;
    left: 42em;
    transform: rotate(-80deg);
  }

  .img-25 {
    top: 73em;
    left: 32em;
    transform: rotate(40deg);
  }

  .img-26 {
    top: 84em;
    left: 42em;
    transform: rotate(5deg);
  }

  .img-27 {
    top: 91em;
    left: 36em;
    transform: rotate(170deg);
  }

  .img-28 {
    top: 77em;
    left: 41.5em;
    transform: rotate(70deg);
  }

  .img-29 {
    top: 70em;
    left: 49.5em;
    transform: rotate(-20deg);
  }

  .img-30 {
    top: 78em;
    left: 48.5em;
    transform: rotate(20deg);
  }

  .img-31 {
    top: 87em;
    left: 48.5em;
    transform: rotate(-20deg);
  }

  .img-32 {
    top: 90em;
    left: 50.5em;
    transform: rotate(20deg);
  }

  .img-33 {
    top: 70em;
    left: 41em;
    transform: rotate(10deg);
  }

  .img-34 {
    top: 77em;
    left: 53.5em;
    transform: rotate(40deg);
  }

  .img-35 {
    top: 83em;
    left: 52em;
    transform: rotate(-60deg);
  }

  .img-36 {
    top: 70em;
    left: 55em;
    transform: rotate(-110deg);
  }

  .img-37 {
    top: 75em;
    left: 62.5em;
    transform: rotate(140deg);
  }

  .img-38 {
    top: 80em;
    left: 62em;
    transform: rotate(100deg);
  }

  .img-39 {
    top: 62em;
    left: 67em;
    transform: rotate(220deg);
  }

  .img-40 {
    top: 69em;
    left: 68em;
    transform: rotate(-80deg);
  }

  .img-41 {
    top: 76em;
    left: 68em;
    transform: rotate(160deg);
  }

  .img-42 {
    top: 87em;
    left: 68em;
    transform: rotate(-140deg);
  }


}








/* EDITS */

.image-n-description-container {
  margin-top: -2em;
}

.button.reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.puzzle {
  min-height: 5em;
}

.welcome {
  padding: 5em 0.5em 0 0.5em;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
}



